<h1> <%= @game.player_one.name %> vs <%= @game.player_two.name %> for the Makers Academy Wrestling Championship!</h1>
<p>
  <p>
    <div>
      <%= @game.player_one.name %> <%= @game.player_one.hp %>HP <p>
      <%= @game.player_two.name %> <%= @game.player_two.hp %>HP
    </div>
    <p>
      <%= @player %> <%= @message %>
      <p>
        <form action='/next' method="post">
        <input type='submit' value='Next turn' name='Next'>
        </form>
