<h1> <%= @player_one.name %> vs <%= @player_two.name %> for the Makers Academy Wrestling Championship!</h1>
<p>
  <p>
    <div>
      <%= @player_one.name %> <%= @player_one.hp %>HP vs. <%= @player_two.name %> <%= @player_two.hp %>HP
    </div>
    <p>
      <%= @current_turn %> got hit!
      <p>
        <form action='/next' method="post">
        <input type='submit' value='Next turn' name='Next'>
        </form>
