<h1> <%= @player_one.name %> vs <%= @player_two.name %> for the Makers Academy Wrestling Championship!</h1>
<p>
  <p>
    <div>
      <%= @player_one.name %> <%= @player_one.hp %>HP vs. <%= @player_two.name %> <%= @player_two.hp %>HP
    </div>
    <p>
      <%= @player_message %>
      <p>
      <% if @player_message == "*turn!" %>
      <form action='/attack' method='post'>
      <input type='submit' value='ATTACK' name='Attack'>
      </form>
      <% else %>
      <form action='/play'>
      <input type='submit' value='Next turn' name='Next'>
      </form>
      <% end %>
