<h1> <%= @player_one %> vs <%= @player_two %> for the World Heavyweight Championship!</h1>
<p>
  <p>
    <div>
      <%= @player_one %>: <%= session[:p1_hp] %>HP <p>
      <%= @player_two %>: <%= session[:p2_hp] %>HP
    </div>
